body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    height: 96vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 72px;
    white-space: nowrap;
}

h1 span {
    color: red;
}

button {
    border: none;
    outline: none;
    background: none;
}

.footer {
    color: gray;
}

.footer a {
    color: gray;
}