body {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 72px;
    white-space: nowrap;
}

h1 span {
    color: red;
}